
@font-face {
    font-family: 'Angeline';
    src: url(../fonts/AngelineVintage.woff) format('woff'),
    url(../fonts/AngelineVintage.woff2) format('woff2');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(../fonts/Poppins-Bold.ttf) format('woff');
}

@font-face {
    font-family: 'Poppins-Light';
    src: url(../fonts/Poppins-Light.ttf) format('woff');
}
