.intro {
    background-image: url(../img/img-cloud.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 44px;
    background-color: #e6f7fe;
    height: 100%;
}

.banner__content h1 {
    padding-top: 40px;
    font-size: 52px;
    color: #03a9f4;
    font-family: Poppins-Bold;
}

.banner__content h2 {
    font-size: 52px;
    color: #51555a;
    padding-bottom: 40px;
    font-family: Poppins-Bold;
}

.line {
    width: 600px;
    color: #51555a;
    border: 1px solid black;
}

.banner__content-box {
    width: 600px;
}

.banner__content p {
    padding-top: 40px;
    font-size: 22px;
    color: #a2a5a9;
    font-family: Poppins-Light;
}

.banner img {
    padding-right: 100px;
    position: relative;
    z-index: 2;
    top: 64px;
}

.input-group {
    width: 300px;
    height: 30px;
}

.banner {
    padding-top: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu {
    position: relative;
    z-index: 1;
    top: 50px;
    background-color: #03a9f4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.btn__color {
    background-color: #ffffff;
    border-radius: 0;
    height: 50px;
}

.menu__content {
    padding: 30px;
}

.input-group>.form-control {
    height: 40px;
}

.menu__content p {
    margin-bottom: 6px;
    color: #ffffff;
}

.menu__content a {
    text-align: center;
    margin-top: 28px;
    width: 200px;
}

.my__btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

.btn {
    height: 40px;
}

.orange {
    background-color: #f75e2e;
    color: #ffffff;

    &:hover {
        background-color: #fa9e82;
        color: #ffffff;
        // color: #f75e2e;
    }
}

.blue {
    background-color: #0287c3;
    color: #ffffff;

    &:hover {
        background-color: #c0e9fc;
        color: #ffffff;
        // color: #f75e2e;
    }
}