<section class="discount">
    <div class="container">
        <div class="discount__content">
            <a href="#">04 Discounts</a>
            <h3>Our discount program</h3>
            <p>By utilizing elements and principles of Material Design, we were able to create a framework that incorporates</p>

            <div class="discount__content-box">
                <div class="left">
                    <div class="up">
                        <div class="left__content">
                            4% <br>OFF<br>
                            <p>for more than <br> <span>15 pages</span></p>
                        </div>
                        <div class="left__content">
                            5% <br>OFF<br>
                            <p>for more than <br> <span>20 pages</span></p>
                        </div>
                    </div>

                    <div class="gray__line"></div>

                    <div class="down">
                        <div class="left__content">
                            10% <br>OFF<br>
                            <p>for more than <br> <span>50 pages</span></p>
                        </div>
                        <div class="left__content">
                            15% <br>OFF<br>
                            <p>for more than <br> <span>100 pages</span></p>
                        </div>
                    </div>
                </div>

                <div class="right__wrap">
                    <div class="right">
                        <h2>TRY OUR SERVICE &<br/>GET HUGE DISCOUNTS</h2>

                        <div class="right__content">
                            <div class="right__content-desc">
                                <p>get<br><span>15%<br>OFF</span><br>for 1st order</p>
                                <!-- get
                                <div class="percent">
                                    <p>15%<br>OFF<br><span>for 1st order</span></p>
                                </div> -->
                                <div class="scissors">
                                    <img src="../../../assets/img/scissors.png" alt="scissors.png">
                                </div>
                                <div class="stars">
                                    <img src="../../../assets/img/stars.png" alt="stars.png">
                                </div>
                                <div class="balloon">
                                    <img src="../../../assets/img/balloon.png" alt="balloon.png">
                                </div>
                            </div>
                        </div>
                        <div class="right__bottom">
                            <p>Use <span>discount15</span> as discount code</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>