<footer class="footer">
    <div class="container">
        <div class="footer__nav">
            <a class="logo__link" href="#"><img class="logo__img" src="../../../assets/img/logo.png" alt="logo.png"></a>

            <nav class="navbar">
                <a href="#">HOME</a>
                <a href="#">ABOUT US</a>
                <a href="#">ORDER NOW</a>
                <a href="#">DISCLAIMER</a>
                <a href="#">WHY US</a>
                <a href="#">CONTACTS</a>
                <a href="#">BLOG</a>
            </nav>
        </div>

        <div class="white__line"></div>

        <div class="sections">
            <div class="sections__desc">
                <h5>Section number1</h5>
                <a href="#">But I must explain to you how</a>
                <a href="#">Mistaken idea of denouncing</a>
                <a href="#">Praising pain was born</a>
                <a href="#">Account of the system</a>
                <a href="#">Great explorer of the truth</a>
                <a href="#">No one rejects, dislikes</a>
                <a href="#">Mistaken idea of denouncing</a>
                <a href="#">Praising pain was born</a>
            </div>

            <div class="sections__desc">
                <h5>Section number2</h5>
                <a href="#">But I must explain to you how</a>
                <a href="#">Mistaken idea of denouncing</a>
                <a href="#">Praising pain was born</a>
                <a href="#">Account of the system</a>
                <a href="#">Great explorer of the truth</a>
                <a href="#">No one rejects, dislikes</a>
                <a href="#">Mistaken idea of denouncing</a>
                <a href="#">Praising pain was born</a>
            </div>

            <div class="sections__desc">
                <h5>Section number3</h5>
                <a href="#">But I must explain to you how</a>
                <a href="#">Mistaken idea of denouncing</a>
                <a href="#">Praising pain was born</a>
                <a href="#">Account of the system</a>
                <a href="#">Great explorer of the truth</a>
                <a href="#">No one rejects, dislikes</a>
                <a href="#">Mistaken idea of denouncing</a>
                <a href="#">Praising pain was born</a>
            </div>

            <div class="sections__desc">
                <h5>Section number4</h5>
                <a href="#">But I must explain to you how</a>
                <a href="#">Mistaken idea of denouncing</a>
                <a href="#">Praising pain was born</a>
                <a href="#">Account of the system</a>
                <a href="#">Great explorer of the truth</a>
                <a href="#">No one rejects, dislikes</a>
                <a href="#">Mistaken idea of denouncing</a>
                <a href="#">Praising pain was born</a>
            </div>
        </div>

        <div class="white__line"></div>

        <div class="footer__links">
            <div class="footer__links-desc">
                <p>Copyright В© 2017 BlueEssaySite.net<br>All rights reserved.</p>
            </div>

            <div class="footer__links-desc">
                <div class="icon icon--facebook"></div>
                <div class="icon icon--twitter"></div>
                <div class="icon icon--pinterest"></div>
                <div class="icon icon--google"></div>
            </div>

            <div class="footer__links-desc">
                <img src="../../../assets/img/footer-phone.png" alt="footer-phone.png">
                <p>Toll free:<br><span>+ 3 044 111 2732</span></p>
            </div>

            <div class="footer__links-desc">
                <img src="../../../assets/img/footer-email.png" alt="footer-email.png">
                <p>Email:<br>blueessaysite@gmail.com</p>
            </div>
        </div>
    </div>
</footer>