<section class="intro">
    <div class="container">
        <div class="banner">
            <div class="banner__content">
                <h1>BlueEassaySite.net -</h1>
                <h2>expert help for custom Written</h2>
                <div class="line"></div>
                <div class="banner__content-box">
                    <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized</p>
                </div>
                <a class="my__btn orange" href="#">palace an order</a>
            </div>
            
            <img class="banner__content-img" src="../../assets/img/girl.png" alt="girl.png">
        </div>

        <div class="menu">
            <div class="menu__content">
                <p>Type of paper</p>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>

            <div class="menu__content">
                <p>Type of paper</p>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>

            <div class="menu__content">
                <p>Type of paper</p>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>

            <div class="menu__content">
                <p>Type of paper</p>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn__color" type="button">−</button>
                    </span>
                    <input type="text" class="form-control text-center" value="2">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn__color" type="button">＋</button>
                    </span>
                </div>
            </div>

            <div class="menu__content">
                <a class="my__btn blue" href="#">Continue</a>
            </div>
        </div>
    </div>
</section>