<section class="testimonials">
    <div class="container">
        <div class="testimonials__wrap">
            <a href="#">05 Testimonials</a>
            <h3>What our clients says</h3>

            <div class="testimonials__content">
                <div class="testimonials__img">
                    <img src="../../../assets/img/arrow.png" alt="arrow.png">
                </div>
                <div class="testimonials__content-desc">
                    <div class="testimonials__desc-img">
                        <img src="../../../assets/img/05-user-01.png" alt="05-user-01.png">
                    </div>
                    <p>Using BestEssayService.net was possibly the best choice of my academic career. Even though I work full-time, I managed to submit all my assignments on time owing to the broad array of services on offer. No matter what written work I needed, help was available. I would give a full ten marks.</p>
                </div>
                <div class="testimonials__img">
                    <img src="../../../assets/img/arrow-right.png" alt="arrow-right.png">
                </div>
            </div>
            
            <div class="testimonials__name">
                <h6>Lorna Grey</h6>
                <p>20 apr 2016 at 8:23</p>
            </div>
        </div>
    </div>
</section>