<section class="works">
    <div class="container">
        <div class="works__content">
            <a href="#">03 How it works</a>
            <h3>Our Simple 4-Step Procedure</h3>

            <div class="step">
                <div class="step__card">
                    <img src="../../../assets/img/03-img-1.png" alt="03-img-1.png">
                    <h6>STEP 1</h6>
                    <p>Complete the short order form to buy a paper from our easy essay writing service.</p>
                    <img class="arrow__simple" src="../../../assets/img/arrow_ourSimple.png" alt="arrow_ourSimple.png">
                </div>

                <div class="step__card">
                    <img src="../../../assets/img/03-img-2.png" alt="03-img-2.png">
                    <h6>STEP 2</h6>
                    <p>We allocate your order to a suitably-qualified writer with specialist knowledge in, for example, persuasive essay writing if that is what you want.</p>
                    <img class="arrow__simple" src="../../../assets/img/arrow_ourSimple.png" alt="arrow_ourSimple.png">
                </div>

                <div class="step__card">
                    <img src="../../../assets/img/03-img-3.png" alt="03-img-3.png">
                    <h6>STEP 3</h6>
                    <p>Our Quality Assurance specialists then check the completed paper to ensure the essay writing is of the highest standard</p>
                    <img class="arrow__simple" src="../../../assets/img/arrow_ourSimple.png" alt="arrow_ourSimple.png">
                </div>

                <div class="step__card">
                    <img src="../../../assets/img/03-img-4.png" alt="03-img-4.png">
                    <h6>STEP 4</h6>
                    <p>The order you placed with our essay writing service is then sent to you before the deadline you set and is accompanied by several free-of-charge features.</p>
                    <img class="arrow__simple" src="../../../assets/img/arrow_ourSimple.png" alt="arrow_ourSimple.png">
                </div>
            </div>
        </div>
    </div>
</section>